@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
@import '~antd/dist/antd.css';
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}


.space-align-container {
  display: flex;
  flex-wrap: wrap;
  align-item: flex-start;
}
.space-align-block {
  flex: none;
  margin: 8px 4px;
  padding: 4px;
  border: 1px solid #40a9ff;
}
.space-align-block .mock-block {
  display: inline-block;
  padding: 32px 8px 16px;
  background: rgba(150, 150, 150, 0.2);
}

.recent-work-margin{
  margin: 8px;
}

.site-card-border-less-wrapper {
  padding: 30px;
  background: #ececec;
}